.container {
	max-width: 1280px;
	margin: 0 auto;
}

.homeContentWrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	margin: 48px 16px 56px 16px;
}

@media (max-width: 950px) {
	.homeContentWrapper {
		grid-template-columns: repeat(3, 1fr);
		margin: 48px 16px 56px 16px;
	}
}

@media (max-width: 620px) {
	.homeContentWrapper {
		grid-template-columns: repeat(2, 1fr);
		margin: 48px 16px 56px 16px;
	}
}

@media (max-width: 375px) {
	.homeContentWrapper {
		margin: 32px 35px;
		grid-template-columns: 1fr;
	}
}
