.input {
	margin-bottom: 16px;

	label {
		font-family: 'Roboto', serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 21.79px;
		color: #151317;
	}

	input {
		border-radius: 8px;
		padding: 16px 8px 16px 16px;
		border: none;
		background: #f8f8f8;
		font-size: 14px;
		font-family: 'Roboto', serif;
		line-height: 16.41px;
		color: #151317;

		::placeholder {
			color: #808185;
		}

		&:focus {
			outline: none;
		}
	}

	small {
		font-family: 'Roboto', serif;
		font-size: 10px;
		font-weight: 400;
		line-height: 11.72px;
		color: #ff6161;
	}
}

.passInput {
	input {
		background: none;
		padding: 0;
	}
}

.button {
	margin-top: 24px;
	width: 100%;
	background: #512689;
	border: none;
	cursor: pointer;
	font-family: 'Roboto', serif;
	font-size: 16px;
	line-height: 21.79px;
	font-weight: 400;
	color: #ffffff;
}
